<p>
  <strong>Handle:</strong>
  <%= @twitter_call.handle %>
</p>


<table>
<thead>
  <tr>
    <td colspan=4>TWEET</td>
    <td>TIME</td>
  </tr>
</thead>
<tbody>
  <% @twitter_call.response.each do |tweet| %>
    <tr>
      <td colspan=4><%= parse_mentions(tweet.text) %></td>
      <td><%= tweet_time(tweet.created_at) %></td>
    </tr>
  <% end %>
</tbody>
</table>




